.page-content {
    overflow: hidden;
}
.page-content .breadcrumb {
    margin-top: 10px;
}
.page-title h3 {
    width: 70%;
}

.dataTables_filter label {
    display: inline-block;
}
.pagination > li {
    display: inline-block;
    padding-left: 0;
}
.table {
    width: 100% !important;
}
table.dataTable.table-condensed .sorting::after, table.dataTable.table-condensed .sorting_asc::after, table.dataTable.table-condensed .sorting_desc::after {
    top: 12px;
}
.page-title .btn {
    float: right;
}

.select2 {
    width: 100%;
}

.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}